---
import "../styles/global.css";
import cursos from "../data/cursos.json";
import EkgAnimation from "../components/EkgAnimation.astro";

const imgIco = "/favicon.webp";
const imgURGDenia = "/URGDenia.webp";
//  public/logoRCP.svg;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cursos disponibles</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body class="bg-gray-100 font-sans">
    <main class="max-w-3xl mx-auto py-12 px-6">
      <h1 class="text-center text-2xl font-bold text-red-700">
        Urgències Hospital de Dénia
      </h1>
      <div class="flex flex-col sm:flex-row items-center gap-4">
        <h1 class="text-4xl font-bold text-blue-700">Cursos disponibles</h1>
        <EkgAnimation />
      </div>

      <ul class="space-y-4">
        {
          cursos.map((curso) => (
            <li class="bg-white rounded-lg shadow hover:shadow-md transition-shadow duration-200">
              <a
                href={curso.url}
                target="_blank"
                rel="noopener noreferrer"
                class="flex items-center bg-white rounded-lg shadow hover:shadow-md transition-shadow duration-200 p-4 text-lg text-gray-700 hover:text-blue-600"
              >
                <img
                  src={imgIco}
                  alt={"Urgencias Denia"}
                  class="w-12 h-auto mr-3 rounded-lg hover:w-14 transition-all duration-200"
                />
                {curso.fecha}
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </body>
</html>
