---
import type { CourseItem } from "../data/types";
import CourseCard from "./CourseCard.astro";

interface Props {
  items: CourseItem[];
}

const { items } = Astro.props;
---

{
  items.length > 0 ? (
    <div class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3">
      {items.map((item) => (
        <CourseCard item={item} />
      ))}
    </div>
  ) : (
    <p class="text-gray-500 dark:text-gray-400 italic text-center py-8">
      No hay cursos disponibles en este momento.
    </p>
  )
}
