---
import "../styles/global.css";
import { useTranslations } from "../utils/languageStore";

export interface Props {
  title: string;
}

const { title } = Astro.props;
const t = useTranslations();
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={t.siteDescription} />
    <title>{title}</title>
  </head>
  <body class="bg-gray-50 dark:bg-gray-900 transition-colors duration-200">
    <slot />
    <script src="../scripts/i18n.client.ts"></script>
  </body>
</html>
